<?xml version="1.0"?>
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="debug" value="false"/>
	</include>

	<!--Load Robot Description-->
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find two_links)/urdf/mobile_robot.xacro'" />
	
	<!--Spawn the model into gazebo-->
	<node 
			name="spawn_robot" 
			pkg="gazebo_ros" 
			type="spawn_model" 
			respawn="false"
			args="-urdf -model myoboat -param robot_description -z 0">
	</node>

	<!--Robot State Publisher-->
	<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/> -->
	
</launch>